
            ul.nav li{ 
                display: inline-block;
                padding-right: 10px;
                background-color: red;
            }
            a {
            	color: white;
            }

       #about-blue {
       	border-width: 3px solid;
       	border-color: black;

       }
       .